@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 300;
  font-style: normal;
}
.App-link {
  color: #61dafb;
}
*{
  padding: 0px;
  margin: 0px;
}


@media screen and (max-width: 536px) {
  .fontSize {
      font-size: 70px; /* Adjust font size for smaller screens */
  }
}

/* Media query for medium-sized screens */
@media screen and (min-width: 537px) and (max-width: 1024px) {
  .fontSize {
      font-size: 130px; /* Adjust font size for medium-sized screens */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
  .fontSize {
      font-size: 180px; /* Adjust font size for larger screens */
  }
}